*{
    padding: 0px;
    font-size: 12px;
}

body{
    background: #fff;
}

.site_center{
    width: 1000px;
    margin: 0 auto;
    background: #d8d8d8;
    box-shadow: 0px 0px 5px #aaa;
}

.wrap_site{
    width: 970px;
    margin: 0 auto;
    display: table;
}

.header{
    height: 100px;
    margin: 20px 0px;
    position: relative;
}

.logo_area{
    height: 100px;
    width: 200px;
    float: left;
}

#empty{
    color: #f00;
}

.social_med{
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: table;
    float: right;
}

.social_med_heading{
    margin-left: 3px;
    display: table-caption;
}

.social_med_link{
    border-radius: 20px;
    height: 40px;
    width: 40px;
    display: table-cell;
    float: left;
    border: 1px solid #ccc;
    margin-left: 3px;
}

.social_med_link:hover{
    border: 1px solid #ff6600;
    height: 40px;
    width: 40px;
}

.navbar_override{
    background: #ff6600;
    border: none;
    height: 30px;
    padding: 0px 0px;
    margin: 0 auto;
}

.navbar_override li{
    list-style: none;
    padding-top: 17px;
    float: left;
}

.nav_link,.nav_link:visited,.nav_link:link{
    outline: 0px;
    color: #fff;
    padding: 18px 30px 18px 30px;
    border: none;
    text-decoration: none;
}

.nav_link:hover{
    /*background: #003399;*/
    color: #003399;
}

#active{
    background: #777;
    padding: 4px 30px;
    color: #fff;
}

.input_box{
    width: 300px;
    float: right;
    margin-top: 8px;
}

.form_override{
    border: 1px solid #555;
}

.btn_override{
    border: 1px solid #555;
    outline: 0px;
    background: rgba(0,150,150,1);
    color: #fff;
}

.btn_override:hover{
    border: 1px solid #555;
    background: rgba(0,150,150,0.9);
}

.menu_list{
    border-top: 1px solid #ccc;
    height: auto;
    padding: 0px;
    width: 150px;
    display: none;
    position:absolute;
    color:#fff;
    margin-top: 15px;
    z-index: 1;
    background: #003399;
}

.menu_list div{
    border: none;
}

.menu_list a{
    outline: 0px;
    color: #fff;
    display: block;
    width: 150px;
    padding: 10px 0px 10px 20px;
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

.menu_list a:hover{
    background: #ff6600;
}

.sidebar_wrap{
    margin-top: 20px;
    width: 250px;
    height: 1000px;
    float: right;
    display: table-cell;
}

.headings{
    border-radius: 4px 4px 0px 0px;
    background: #FF6600;
    padding: 8px;
    font-weight: bold;
    color: #fff;
}

.sidebar_cont{
    height: auto;
    margin-bottom: 45px;
}

.fb-like-box{
    background: #eef;
}

.sidebar_buttons{
    font-size: 15px;
    color: #000;
    padding: 10px;
    background: #eef;
    border-bottom: 1px solid black;
}

.sidebar_buttons a{
    color: #000;
    outline: 0px;
}

.content_wrap{
    margin: 20px 20px 0px 0px;
    width: 700px;
    float: left;
    display: table-cell;
}

.slideshow{
    width: 700px;
    border: 3px solid rgba(0,80,150,0.7);
    height: 306px;
}

#carousel div {
    height: 400px;
    float: left;
}

#carousel img {
    width: 694px;
    height: 300px;
}

#pager {
    background: rgba(0,80,150,0.7);
    text-align: center;
    width: 694px;
    padding: 2px;
    position: absolute;
    top: 482px;
}

#pager a.selected span {
    outline: 0px;
    background: #ff6600;
}
#pager a {
    display: inline-block;
    padding: 5px;
}
#pager span {
    border-radius: 10px;
    background: #fff;
    text-indent: -100px;
    line-height: 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    overflow: hidden;
}

.featured_products{
    margin-top: 20px;
    /*    text-align: justify;
        -ms-text-justify: distribute-all-lines;
        text-justify: distribute-all-lines;*/
}

.featured_products h3{
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
}

.panel_override{
    width: 221px;
    height: 300px;
    margin: 7px 6px;
    display: block;
    float: left;
}

.panel_override:nth-child(3n+3) { margin-right: 0; }

.pnl_heading{
    text-align: center;
}

.panel-body_override{
    border-top: 1px solid #aaa;
    width: 190px;
    margin: 0 auto;
    text-align: center;
    padding: 0px;
}

.image_area{
    margin-top: 10px;
    height: 120px;
}

.prodImg{
    width: 120px;
    height: auto;
}

.prod_cont{
    margin: 0 auto;
    width: 200px;
    text-align: center;
    height: 75px;
    padding: 10px 0px;
}

.pnl_btn_override{
    outline: 0px;
    margin-top: 10px;
    background: #ff6600;
    font-weight: bold;
    color: #fff;
}

.pnl_btn_override:hover,.pnl_btn_override:focus{
    background: #003399;
    color: #fff;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.btn_override_more{
    float: right;
    outline: 0px;
    border-radius: 0px;
    border: none;
    margin-bottom: 15px;
    background: #ff6600;
    font-weight: bold;
    color: #fff;
}

.btn_override_more:hover,.btn_override_more:focus{
    background: #003399;
    border: 0;
    color: #fff;
}

.btn_override_more span{
    font-size: 17px;
    font-weight: normal;
}

#paginationOverride,#paginationOverrideDisable{
    font-size: 25px;
    text-align: center;
    height: 40px;
    width: 35px;
    padding: 0px;
    background: #FF6600;
    border-color:#d5d5d5;
    color:#fff;
}

#paginationOverride:hover{
    background: #003399;
}

#paginationOverrideDisable{
    background: #FF8800;
}

.footer{
    border-top: 1px solid #fff;
    width: 100%;
    padding: 20px;
    height: 80px;
    display: table-cell;
    float: left;
    text-align: center;
    color: #000;
}

.footer_links{
    height: 25px;
}

.footer_links a{
    color: #000;
}

.panel_login{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 300px;
    background: #E7E7E7;
    box-shadow: 0px 0px 5px #aaa;
}

.input_wrap{
    height: 250px;
    width: 350px;
    margin: 0px auto;
}

.input_wrap input{
    margin-top: 30px;
    border: 1px solid #aaa;
    padding: 5px;
    height: 40px;
    position: relative;
}

.error_text{
    margin-top: 15px;
    height: 20px;
    width: 100%;
    color: #f00;
}

.btn_login_override{
    outline: 0px;
    padding: 10px 50px;
    background: #ff6600;
    border: 0px;
    color: #fff;
    display: block;
    margin: 30px auto;
}

.btn_login_override:hover,.btn_login_override:focus{
    background: #003399;
    color: #fff;
}

.inner-addon { 
    position: relative; 
}

.inner-addon .glyphicon {
    position: absolute;
    padding: 12px;
    pointer-events: none;
}

.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.cont_about_contact{
    min-height: 600px;
    max-height: 100%;
    /*background: #e8e8e8;*/
    padding: 10px;
}

.about_contact_heading h3{
    /*text-align: center;*/
    margin: 0px;
    padding: 10px 10px;
}

.popupBackground{
    background: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: none;
}

.popup{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
}

.popupContent{
    overflow: auto;
    background: #fff;
    width: 800px;
    height: 500px;

}

.popupCenter{
    width: 700px;
    margin: 0 auto;
}

.close_btn,.close_btn:active,.close_btn:link{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    float: right;
    padding: 2px 5px;
    text-align: center;
    font-weight: bold;
    outline: none;
}

.close_btn:hover{
    text-decoration: none;
    color: #ccc;
}

.readMoreContent{
    margin: 0 auto;
    text-align: justify;
    background: #e8e8e8;
    padding: 10px;
    display: table;
}

.readMoreImage{
    width: 400px;
    float: left;
    display: table-cell;
    background: #ccc;
    margin-right: 10px;
}